*.tfvars
.env
.terraform
*.tfstate
*tfstates*
tfplan
*tfplan*
*.tfvars
.env
.terraform
*.tfstate
*tfstate*
tfplan
*tfplan*
*.tfvars
.env
.terraform
*.tfstate
*tfstate*
tfplan
*tfplan*
*.tfvars
.env
.terraform
*.tfstate
*tfstate*
tfplan
*tfplan*
