server {
    listen {{ nginx_listen_port }};
    listen [::]:{{ nginx_listen_port }};

    server_name {{ nginx_server_name }};
    root {{ nginx_web_root }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~* \.(css|js)$ {
        add_header Cache-Control "no-cache";
    }
}
